---
layout: default 
---


<section>
<div class="arrow-parent">
   <h2>
       box 1
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, laborum autem inventore praesentium eaque veritatis aliquam enim adipisci impedit fuga! Pariatur sed adipisci quis, quos non esse illo enim similique.</p>
    <div class="guideDiv">
        {% include arrow-down-right.html %}
    
    </div>
</div>

<div class="center arrow-parent">
    <h2>
        box 2
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, laborum autem inventore praesentium eaque
        veritatis aliquam enim adipisci impedit fuga! Pariatur sed adipisci quis, quos non esse illo enim similique.</p>
        <div class="guideDiv">
            {% include arrow-down-right.html %}
        </div>

</div>
<div class="right arrow-parent">
    <h2>
        box 3
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, laborum autem inventore praesentium eaque
        veritatis aliquam enim adipisci impedit fuga! Pariatur sed adipisci quis, quos non esse illo enim similique.</p>
        <div class="guideDiv">
            {% include arrow-down-right.html %}
        </div>
    </div>
<div class="center arrow-parent">
    <h2>
        box 4
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, laborum autem inventore praesentium eaque
        veritatis aliquam enim adipisci impedit fuga! Pariatur sed adipisci quis, quos non esse illo enim similique.</p>
    <div class="guideDiv">
        {% include arrow-down-right.html %}
    </div>
</div>
<div class="arrow-parent">
    <h2>
        box 5
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, laborum autem inventore praesentium eaque
        veritatis aliquam enim adipisci impedit fuga! Pariatur sed adipisci quis, quos non esse illo enim similique.</p>
</div>


</section>

